
header {
  color: black;
  float: right;
  font-size: 5px;
}

h1 {
  color: white;
  background-color: #316322;
}


body {
  width: 95%
}



li {
  float: left;
  list-style:none;
  padding:10px 40px;
  display:block;
  text-decoration:none;
  color: rgb(0, 0, 0);
  background-color: #8cd669;
  text-align: center;
  border: 1px solid #226330;
}



table {
  padding: 0px;
  font-size: 5px;
}



th {
  background-color: #a0f0a0;
}