.container2 {
  width: 500px;
  margin: 150px auto;
  padding-left: 0px;
  padding-right: 10px;
  clear: both;
  }
 
  .container-signin {
    max-width: 500px;
    margin: 150px auto;
    padding-left: 50px;
    padding-right: 0px;
    clear: both;
  }